#inputText{
   padding-bottom:8px; 
}
.ipTextCol{
   width:100%;
}
.jumbotron{
   padding-top: 2rem; 
   padding-bottom: 2rem; 
}
.jRow1{
   margin-bottom: 8px;
}
.modal-header{
   background-color:#bbeff7;
}
#exerciseBox, #foodBox{
   border: 1px solid black;
   border-radius: 25px;
   height:200px;
   background-color:#bbeff7;
}
img{
   height:50px;
   width:50px; 
   margin-left:32%;
}
h5{
   text-align:center;
}
.gpdText{
   margin-left:5%;
}
#durationInput{
   margin-top:5px;  
   width:100px; 
}
/* new css stuff */
body {
	background:#49CCED;
}

#header {
	background-color:#2e363f;

   margin-top:10px;
}


@media (max-width: 480px) {
	#sidebar > a {
		background:#49CCED;
		
	}
	#sidebar > ul {
		background-color: #49CCED;
	}
#user-nav{ margin:0px auto; top:-31px; border-top:none; width:250px; left:-3%; text-align:center; float:none;}
#user-nav > ul > li:last-child{ border-right:1px solid #363E48}
#user-nav > ul > li{ border-top:1px solid #363E48}
#sidebar{ top:-30px;}
#content{ margin-top:-30px;}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }

}


/* Main */
body {
	overflow-x: hidden;
    margin-top: -10px;
}
a:hover {
	text-decoration: none;
}



/* Header */
#header {
    height: 62px;
    position: relative;
    width: 100%;
    z-index: -7;
}

#header h1 {
	background: url("../assets/img/backgrounds/logo.png") no-repeat scroll 0 0 transparent;
    height: 41px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
	top:10px; 
	bottom:10px; 
    width: 300px;
}

#header h1 a {
    display: block;
}
.fl{ float:left}
.fr{ float:right}

/* Search input */
#search {
	position: relative;
	z-index: 1;
	top:42px;
	float:right;
}
#search input[type=text] {
	border-radius: 0px 0 0 0px;
	padding:8px 10px ;
	border:1px; line-height:24px; 
	width:166px;
}

#search button {
	border: 0;
	margin-top: -11px;
	padding:8px 10px; margin-left:-5px;
	background-color: black; 

}
#search button i {
	opacity: 0.5;
}
#search button:hover i, #search button:active i {
	opacity: 0.9;
}
/* Top user navigation */

#user-nav {
    position: absolute;
    right:0px;
    top: 0px;
    z-index:11;
    margin: 0;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding:6px 0;
	background:black;
	border-left:1px solid #363e48;
}
#user-nav > ul > li:hover{ background:black;}
#user-nav > ul > li > a {
	padding: 15px 10px; 
	display: block;
	font-size: 12px;
}

#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
	color: #ffffff;
}
#user-nav > ul > li > a > i {
	vertical-align: top;

	margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
	opacity: 1;
}

#user-nav > ul > li > a > .label {
	vertical-align: middle;
	padding: 1px 4px 1px;
	margin: -2px 4px 0;
	display: inline-block;
}


#user-nav > ul ul > li > a {
	text-align: left;
	text-shadow: 0 1px 0 #ffffff;
}
#user-nav > ul ul > li > a:hover {
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

/* Content */
#content {
    background:url(../assets/img/backgrounds/bodyBg.png) repeat #fff;
    margin-left:0px;
    margin-right: 0;
	margin-top:80px;
    padding-bottom: 25px;
    position: relative;
    min-height: 500px;
    width: auto;
}

#content-header {
	position: abslute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}

#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    float: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: relative;
}

#content-header .btn-group {
	float: right;
	right: 20px;
	position: absolute;
}

#content-header h1, #content-header .btn-group {
	margin-top: 20px;
}
#content-header .btn-group .btn {
	padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
	position: absolute;
	top: -7px;
}

.container-fluid .row-fluid:first-child {
	margin-top: 20px;
}


/* Footer */
#footer {
	text-align: center;
	color: #777777; padding:10px 0; background:#2e363f;
}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}

.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	background-color: #efefef;
	
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a{
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}
.widget-title h5 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}

.widget-content {
	padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}


/* Misc */
.nopadding {	
	padding: 0 !important;
}
.nopadding .table {
	margin-bottom: 0;
}
.nopadding .table-bordered {
	border: 0;
}
.thumbnails {
	margin-left: -2.12766% !important;
}
.thumbnails [class*="span"] {
    margin-left: 2.12766% !important;
    position: relative;
}
.thumbnails .actions {
	width: 32px;
	height: 16px;
	background-color: #000000;
	padding: 4px 8px;
	position: absolute;
	bottom:0%;
	left:50%;
	margin-top: -13px;
	margin-left: -24px;
	opacity: 0;
	-moz-transition: opacity 0.3s ease-in-out;
}
.thumbnails li:hover .actions {
	opacity: 1;
}
.line {
    background: url("../img/line.png") repeat-x scroll 0 0 transparent;
    display: block;
    height: 8px;
}
.modal {
	z-index: 99999 !important;
}
.modal-backdrop {
	z-index: 999 !important;
}
.modal-header {
	height: auto;
	padding: 8px 15px 5px;
}
.modal-header h3 {
	font-size: 12px;
	text-shadow: 0 1px 0 #ffffff;
}


.row-fluid .span20{ width:97.8%}
.form-horizontal .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}
.help-block, .help-inline {
    color: #999999;
}

/* Responsive design */
@media (max-width: 480px) {
	#header h1 {
		top: 5px;
		margin: 3px auto;
	}
	#user-nav {
		position: relative;
		left: auto;
		right: auto;
		width: 100%;
		margin-top: -31px; border-top:1px solid #363E48;
		margin-bottom: 0px; background:#2E363F; float:right;
	}
	.navbar > .nav {
		float: none;
	}
	
	#user-nav > ul {
		right: 0px; margin-left:20%!important;
		margin-top:0px; width:100%; background:#000;
		position: relative;
	}
	#user-nav > ul > li{ padding:0px 0px;}
	#user-nav > ul > li > a{ padding:5px 10px;}
	#content {
		margin-left: 0 !important;
		border-top-left-radius: 0;
		margin-top:0px;
	}
	#content-header {
		margin-top: 0;
		
		text-align: center;
	}
	#content-header h1, #content-header .btn-group {
		float: none;
	}
	#content-header h1 {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-top: 0;
		padding-top: 15px;
		width: 100%;
	}
	#content-header .btn-group {
		margin-top: 70px;
		margin-bottom: 0;
		margin-right: 0;
		left: 30%;
	}
	

@media (min-width: 481px) and (max-width: 970px) {
	body{ background:#49CCED}
	#header h1 {
		top:20px;
	}
	#content{ margin-top:38px;}

	#content {
		margin-left: 43px;
	}
}
@media (max-width: 600px) {
	.widget-title .buttons {
		float: left;
	}
	.panel-left {
		margin-right: 0;
	}
	.panel-right {
		border-top: 1px solid #DDDDDD;
		border-left: none;
		position: relative;
		top: auto;
		right: auto;
		height: auto;
		width: auto;
	}

}
@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}
	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
	#search { display: none; }
	#user-nav > ul > li > a > span.text {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	[class*="span"], .row-fluid [class*="span"] {
		display: block;
		float: none;
		margin-left: 0;
		width: auto;
	}
}
@media (max-width: 979px) {
	div.dataTables_wrapper .ui-widget-header {
		height: 68px;
	}
	.dataTables_filter {
		position: relative;
	}
	.dataTables_filter, .dataTables_paginate {
		text-align: center;
	}
}
#weaxIcon{
   height:150px;
   width:150px; 
}
