#inputText{
   padding-bottom:6px; 
}
.ipTextCol{
   width:100%;
}
.jumbotron{
   padding-top: 1rem; 
   padding-bottom: 1rem; 
}
.jRow1{
   margin-bottom: 8px;
}
.modal-header{
   background-color:#bbeff7;
}
#exerciseBox, #foodBox{
   border: 1px solid black;
   border-radius: 25px;
   height:180px;
   background-color:#bbeff7;
}
img{
   height:40px;
   width:40px; 
   margin-left:34%;
}
h5{
   text-align:center;
}
.gpdText{
   margin-left:5%;
}
#durationInput{
   margin-top:5px;  
   width:100px; 
}
#weaxIcon{
   height:150px;
   width:150px; 
}